* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a1625;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background-color: #1a162550;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid #3d315d;
}
header a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.cover {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.inner-cover {
    width: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 3rem; */
    margin: 0 2rem;
    font-size: 1.5rem;
}
.inner-cover button {
    background-color: transparent;
    border: 2px solid #a688fa;
    border-radius: 1rem;
    padding: 1rem 2.5rem;
    color: white;
    transition: 150ms;
}
.inner-cover button:hover {
    cursor: pointer;
    background-color: #a688fa;
    color: black;
}
.cover-p {
    width: 50%;
}
.cover-button {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@media only screen and (max-width: 950px) {
    .inner-cover {
        flex-direction: column;
        gap: 3rem;
        margin: 0 1rem;
    }
    .cover-p {
        width: 100%;
    }
    .cover-button {
        width: 100%;
        justify-content: center;
    }
}